<div
  style='max-width:550px; min-width:320px;  background-color: white; border: 1px solid #DDDDDD; margin-right: auto; margin-left: auto;'>
  <div style='margin-left:30px;margin-right:30px'>
    <p>&nbsp;</p>
    <p>
      <a href='https://indiebase.deskbtm.com'
        style='text-decoration:none;font-family:Verdana, Geneva, sans-serif;font-weight: bold; color: #0099FF;font-size: 15px'>indiebase.deskbtm.com</a>
    </p>
    <a href='https://indiebase.deskbtm.com'>
      <img style='width:100%' src='https://s2.loli.net/2022/04/13/sAOj7PkLYdS43Ha.png' alt='' />
    </a>
    <hr style='margin-top:10px;margin-bottom:65px;border:none;border-bottom:1px solid black' />
    <h1
      style='font-family: Tahoma, Geneva, sans-serif; font-weight: normal; color: #2A2A2A; text-align: center; margin-bottom: 65px;font-size: 20px; letter-spacing: 6px;font-weight: normal; border: 2px solid black; padding: 15px;'>
      {{subject}}</h1>
    <h3 style='font-family:Palatino Linotype, Book Antiqua, Palatino, serif;font-style:italic;font-weight:500'>Captcha :
      <span id='captcha' style='border-bottom: 1px solid #6f00ff'>{{captcha}}</span>
    </h3>
    <div style='height: 5px;'></div>
    <div style='margin:0px 20px;font-size: 14px;color: #666;word-break: break-all;'>
      {{addition}}
    </div>
    <p style='height: 20px;'></p>
    <table style='width:100%;'>
      <th>
      <td style='width:25%'></td>
      <td id='copy' style='background-color:black;width:50%;text-align:center;padding:15px'>
        <span
          style='white-space:nowrap;margin-left: auto; margin-right: auto;text-decoration:none;color: white;text-align:center;font-family:Courier New, Courier, monospace;font-weight:600;letter-spacing:2px;padding:15px;'>复制到剪贴板</span>
      </td>
      <td style='width:25%'></td>
      </th>
    </table>
    <hr style='margin-top:10px;margin-top:75px' />
    <p style='text-align:center;margin-bottom:15px'><small
        style='text-align:center;font-family:Courier New, Courier, monospace;font-size:10px;color:#666;'>
        Made with
        <span style='color:red'>&hearts;</span>
        indiebase
      </small></p>
    <p>&nbsp;</p>
  </div>
</div>

<style>
  #toast {
    visibility: hidden;
    max-width: 50px;
    height: 50px;
    /*margin-left: -125px;*/
    margin: auto;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;

    position: fixed;
    z-index: 1;
    left: 0;
    right: 0;
    bottom: 30px;
    font-size: 17px;
    white-space: nowrap;
  }

  #toast #img {
    width: 50px;
    height: 50px;

    float: left;

    padding-top: 10px;
    padding-bottom: 10px;

    box-sizing: border-box;


    background-color: #111;
    color: #fff;
  }

  #toast #desc {


    color: #fff;

    padding: 16px;

    overflow: hidden;
    white-space: nowrap;
  }

  #toast.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, expand 0.5s 0.5s, stay 3s 1s, shrink 0.5s 2s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, expand 0.5s 0.5s, stay 3s 1s, shrink 0.5s 4s, fadeout 0.5s 4.5s;
  }

  @-webkit-keyframes fadein {
    from {
      bottom: 0;
      opacity: 0;
    }

    to {
      bottom: 30px;
      opacity: 1;
    }
  }

  @keyframes fadein {
    from {
      bottom: 0;
      opacity: 0;
    }

    to {
      bottom: 30px;
      opacity: 1;
    }
  }

  @-webkit-keyframes expand {
    from {
      min-width: 50px
    }

    to {
      min-width: 200px
    }
  }

  @keyframes expand {
    from {
      min-width: 50px
    }

    to {
      min-width: 200px
    }
  }

  @-webkit-keyframes stay {
    from {
      min-width: 200px
    }

    to {
      min-width: 200px
    }
  }

  @keyframes stay {
    from {
      min-width: 200px
    }

    to {
      min-width: 200px
    }
  }

  @-webkit-keyframes shrink {
    from {
      min-width: 200px;
    }

    to {
      min-width: 50px;
    }
  }

  @keyframes shrink {
    from {
      min-width: 200px;
    }

    to {
      min-width: 50px;
    }
  }

  @-webkit-keyframes fadeout {
    from {
      bottom: 30px;
      opacity: 1;
    }

    to {
      bottom: 60px;
      opacity: 0;
    }
  }

  @keyframes fadeout {
    from {
      bottom: 30px;
      opacity: 1;
    }

    to {
      bottom: 60px;
      opacity: 0;
    }
  }
</style>
