html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

#nprogress .bar {
  background: #252525 !important;
}

#nprogress .peg {
  box-shadow: 0 0 10px #252525, 0 0 5px #252525;
}

#nprogress .spinner-icon {
  border-top-color: #252525 !important;
  border-left-color: #252525 !important;
}
