[submodule "first_party/nacos"]
	path = first_party/nacos
	url = https://github.com/nawb-letscollab/nest-nacos.git
[submodule "pro"]
	path = pro
	url = https://github.com/nawb-letscollab/letscollab-pro.git
