[submodule "self_hosting"]
path = self_hosting
url = https://github.com/deskbtm-letscollab/self_hosting.git
[submodule "apps/pitm"]
path = apps/pitm
url = https://github.com/deskbtm-letscollab/PITM.git
[submodule "lets-pro"]
path = lets-pro
url = https://github.com/deskbtm-letscollab/lets-pro.git
[submodule "first_party/nestjs-stoplight"]
	path = first_party/nestjs-stoplight
	url = https://github.com/Nawbc/nestjs-stoplight.git
