// .ant-pro-top-nav-header-main-left {
//   display: none !important;
// }

// .ant-pro-top-nav-header {
//   box-shadow: none !important;
// }

.home-pro-layout {
  .ant-layout-header {
    backdrop-filter: blur(20px) !important;
    background: rgba(255, 255, 255, 0.6) !important;
    .ant-pro-top-nav-header {
      box-shadow: unset;
      &.light {
        background-color: unset !important;
      }
    }
  }
}

// backdrop-filter: saturate(180%) blur(20px) !important;
// background: rgba(211, 211, 211, 0.8) !important;
