.docMainContainer {
  display: flex;
  width: 100%;
  padding: unset;
}

@media (min-width: 996px) {
  .docMainContainer {
    flex-grow: 1;
    max-width: calc(100% - var(--doc-sidebar-width));
    padding: 0 1rem;
    margin: unset;
  }

  .docMainContainerEnhanced {
    max-width: calc(100% - var(--doc-sidebar-hidden-width));
  }

  .docItemWrapperEnhanced {
    max-width: calc(
      var(--ifm-container-width) + var(--doc-sidebar-width)
    ) !important;
  }
}

/* .containerExt {
  margin: unset;
} */
